ruleset.xml
.pmd
*build.number

.idea
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch

org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans

**/custom/**/classes/*
**/testclasses/*
**/modelclasses/*
**/eclipsebin/*
**/gensrc/*

**/resources/items.xsd
**/extensioninfo.xsd

**/*hmc.jar
**/models.jar
**/*testclasses.xml
**/build.xml
**/hmc.xsd
**/beans.xsd

**/web/webroot/cockpit
**/web/webroot/cmscockpit
**/web/webroot/cscockpit
**/web/webroot/productcockpit

**/generated*.xml
**/dummy.txt
**/web/webroot/ext/**/*.jsp
**/web/webroot/ext/**/*.gif
**/web/webroot/ext/**/*.png

platformhome.properties

*.log
**/velocity.log

*.class
gen
**/*.DS_Store
out/**

# IntelliJ
**/.idea
**/*.iml
/.classpath
/lib/
/.project
/.settings/
